.loading-wrapper {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-gif {
  width: 50px;
  height: 50px;
}
