html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;  
  font-family: 'Inter', sans-serif;
}

.login-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../components/auth_background.png") no-repeat center center;
  background-size: cover;
}

.login-card {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 65px;
  padding: 60px 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.login-card h1 {
  margin-bottom: 7px;
  font-weight: 600; 
  font-family: 'Inter', sans-serif;
  color: #1C345A;   
}

.subtitle {
  color: #445475;
  margin-bottom: 25px;
  font-weight: 600; 
  font-family: 'Inter', sans-serif;
}

label {
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  color: #445475;
  display: block;
  margin: 15px 0 5px;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-group input {
  width: 100%;
  padding: 10px 40px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
  color: #445475;      
  font-weight: 600;     
}

.input-group input::placeholder {
  color: #445475;       
  font-weight: 500;
}

.icon {
  position: absolute;
  left: 10px;
  color: #777;
}

.toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #777;
}

.forgot {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  color: #2a5298;
  text-decoration: underline;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.login-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: #1C345A;   
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}

.login-btn:hover {
  background: #16335f;   
}

.remember {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Inter', sans-serif;
  color: #445475;
  font-weight: 600;
}

.divider {
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}

.google-btn {
  width: 100%;
  padding: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 25px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #445475;
}

.signup {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  color: #445475;
}
